{% extends 'base.html' %}

{% block title %}Home{% endblock %}




{% block content %}
{% if user.is_authenticated %}

<h1><center>MY RECIPE</center></h1>


<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">WELCOME</h4>
  <p>This is website which where you can post your recipe.</p>
  <hr>
  <p class="mb-0">And also see others posts</p>
</div>




<div class="card" style="width: 40rem;">



  {% for post in object_list %}
    <h2>{{ post.title }}</h2>
<div class="card-body">
    <img   class="card-img-top"  src="{{ post.cover.url}}" alt="{{ post.title }}">

  <h2>{{ post.description }}</h2>

    <!--more-->

<a href="{% url 'more' post.id %}" class="btn btn-outline-danger">&nbsp more &nbsp </a>

<input type="button" class="btn  btn-info"   value="Like" onclick="return change(this);" />





    <hr>
  {% endfor %}


  </div>
  </div>
</div>


{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

{% endif %}



{% endblock %}


