{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>



<h1>TESTY FOODS</h1>
<ul>
  {% for post in object_list %}
    <h2>{{ post.title }}</h2>

    <img src="{{ post.cover.url}}" alt="{{ post.title }}">
    <h2>{{ post.description }}</h2>


  {% endfor %}
</ul>



{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

{% endif %}
{% endblock %}


