{%load staticfiles%}



{% if user.is_authenticated %}





<html lang="en">
<head>

    <script language="javascript">
    function myFunction(){
setTimeout(function(){
   window.location.reload(1);
}, 200);  }

   function refreshPage(){
    window.location.reload();
}


  /*var clicks = 0;
    function hello(btn) {
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
        document.getElementById(btn.id).disabled = true;
    };

function disableButton(btn){
				document.getElementById(btn.id).disabled = true;
				alert("Button has been disabled.");
			}*/


</script>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>CookBook2019</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}"  type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a  href="/user_profile/" class="btn btn-info"><img alt="">{{ user.username}}</a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="http://localhost:8000/ ">home</a></li>
                           <!-- <li><a href="about.html">about</a></li>-->
                            <li><a href="/post/">post</a></li>
                            <!--<li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-home.html">Blog Home</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>-->
                            <!--<li><a href="contact-us.html">contact</a></li>-->
                            <li><a class="btn btn-info" href="{% url 'login' %}"  onclick="myFunction()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>the most interesting food in the world</h6>
                    <h1>Discover the <span class="prime-color">flavors</span><br>
                    <span class="style-change">of <span class="prime-color">Cook</span>Book</span></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->



    <!-- Food Area starts -->
    <section class="food-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-top">
                        <h3><span class="style-change">we share</span> <br>delicious food</h3>
                        <p class="pt-3">here are tye daily update of cook book .</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

   <!--<div class="col-md-4 col-sm-6">-->
              <!--  <div class="col-md-4 col-sm-6">-->
                 <div class="single-food mt-5 mt-sm-0">

                    <div class="single-food">

                        <div class="food-img">
                            <img class="img-fluid" src="{{ post.cover.url}}" alt="{{ post.title }}">
                        </div>
                        <div class="food-content">
                            <div class="d-flex justify-content-between">


                                <h5> {{ post.title }}   </h5>
                                <span class="style-change">  <br>  published date : {{ post.publish_date }}</span>
                            </div>
                            <p class="pt-3">postec by : {{ post.author }}</p><br>

                            <p class="pt-3"> Description : {{ post.description }} <br><br>



                          <button class=" btn btn-primary"><a href="http://www.facebook.com/sharer.php?u=http://shyamkpv.pythonanywhere.com " style="color: white">share</a>
                          </button>


                            <!--<a href="/comments/comments/" class="btn btn-info">comment</a>-->




                            &nbsp; &nbsp; &nbsp; &nbsp;
                            {{ total_likes }} Like{{ total_likes|pluralize }}<br>
                            <form action="{% url 'like_post' post.id %}" method="post">
                                <br>
                                {% csrf_token %}
                                {% if is_liked %}
                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger" >liked &nbsp;</button>
                                {% else %}
                                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary" >like &nbsp; &nbsp; </button>
                                {% endif %}


                            </form>

                            <!--<button class="btn btn-info" onclick="hello(this)" id="btn1" name="post_id" value="{{ post.id}}" type="submit">Like</button>-->

                            <!--<p>Total likes <a id="clicks">0</a></p>-->



                            {% for comment in comments %}

                            {{ comment.content }}
                            <p> {{ comment.user }}</p>

                            {% endfor %}










                        </div>

                    </div>

                 </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Food Area End -->

    <!-- Reservation Area Starts -->
    <div class="reservation-area section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Natural ingredients and testy food</h2>
                    <h4 class="mt-4">some trendy and popular courses offerd</h4>
                    <a href="" class="template-btn template-btn2 mt-4">TESTY FOODS MAKE YOUR SELF</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation Area End -->


    <!-- Update Area Starts -->

    <section class="update-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top2 text-center">
                        <h3>Our <span>food</span> update</h3>
                        <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                    </div>
                </div>
            </div>        </div>
    </section>
    <!-- Update Area End -->


        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <span>Copyright &copy; no rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://tarams.com" target="_blank">web site</a>
                        </span>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li class="no-margin">Follow Us</li>
                                <li><a href="m.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'assets/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>

{% else %}


  <p><script> alert("you are not login")</script></p>
  <a class="btn btn-info" href="{% url 'login' %}">login</a>



{% endif %}