{% extends 'post_base_new.html' %}

{%load staticfiles%}


{% block title %}CookBook_post{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>CookBook2019</title>

    <!-- Favicon -->

    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" >

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">

                        <!--<a href="index.html"><img src="{% static 'assets/images/logo/logo1.png' %}" alt="logo"></a>

-->
                         <a href="/user_profile/" class="btn btn-info"><img alt="">{{ user.username}}</a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="http://localhost:8000/ ">home</a></li>
                            <!--<li><a href="/user_profile/">Profile</a></li>-->
                            <li><a href="/post/">Post</a></li>
                           <!-- <li><a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-home.html">Blog Home</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>-->
                           <!-- <li><a href="contact-us.html">contact</a></li>-->

                            <li><a class="btn btn-info">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <section class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>the most interesting food in the world</h6>
                    <h1>Discover the <span class="prime-color">flavors</span><br>
                    <span class="style-change">of <span class="prime-color">Cook</span>Book</span></h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Welcome Area Starts -->
    <section class="welcome-area section-padding2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="welcome-img">
                        <img src="{% static 'assets/images/welcome-bg.png' %}" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-6 align-self-center">
                    <div class="welcome-text mt-5 mt-md-0">
                        <h3><span class="style-change">welcome to </span>Cook<br>Book</h3>
                        <p class="pt-3">Creatye your recipe and share your recipe to others </p>
                        <p>see what others have been posted</p>
                        <a href="#" class="template-btn mt-3">Post Your Recipe Secret</a>

                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome Area End -->


    <!-- Reservation Area Starts -->
    <div class="reservation-area section-padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--
                    <h2>Natural ingredients and testy food</h2>
                    <h4 class="mt-4">some trendy and popular courses offerd</h4>
                    <a href="" class="template-btn template-btn2 mt-4">reservation</a>
                    -->




<form method="post" enctype="multipart/form-data">
  {% csrf_token %}


    <div class="form-group">

    <input type="title" class="form-control" id="id_title" name="title" placeholder="title ">
<br><br>



  <div class="custom-file">
    <input type="file" class="custom-file-input" id="id_cover" name="cover"
      aria-describedby="inputGroupFileAddon01" placeholder="choosef file">
    <label class="custom-file-label" for="id_cover">Choose file</label>
  </div>
</div><br>



    <input id ="id_description" name="description" class="form-control form-control-lg" placeholder="Write about it" ><br>
<br>

    <input id="id_publish_date" name="publish_date" type="date" class="form-control form-control" placeholder="Write about it" >

<br><br><br>


    <!--<input type="file" name="profile" id="id_profile" required="" accept="image/*"  class="form-control form-control">

  -->
   <!--  <div class="custom-file">
    <input type="file" class="custom-file-input" id="id_profile"
      aria-describedby="inputGroupFileAddon01" placeholder="choosef file" name="profile">
    <label class="custom-file-label" for="id_profile">Choose file</label>
  </div>-->

    <a  type="submit" class="btn btn-success" href="/more_new.html/">Submit New Post</a>



</form>



                </div>
            </div>
        </div>
    </div>
    <!-- Reservation Area End -->


    <!-- Update Area Starts -->


    <section class="update-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top2 text-center">
                        <h3>Our <span>food</span> update</h3>
                        <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
    <!-- Footer Area Starts -->
    <footer class="footer-area">

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <span>
Copyright &copy;no rights reserved <class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://tarams.com" target="_blank">website</a>
</span>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li class="no-margin">Follow Us</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'assets/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>




{% else %}
  <p>You are not logged in</p>
  <a class="btn btn-info" href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}



















